.dropdown button{
    background-color: grey;
    color: aquamarine;
    padding: 15px;
    border: none;
    cursor: pointer;
}

.dropdown a{
    display: block;
    color: black;
    text-decoration: none;
    padding: 10px 15px;
}

.dropdown .content{
    background-color: beige;
    position: absolute;
    min-width: 100px;
    box-shadow: 2px 4px 4px;
}