.wrapper{
    flex: 1;
    display: flex;
}

.sidebar{
    flex-basis: 250px; /* fixed width*/
    flex-shrink: 0;    /* do not shrink below this */
    background: #24979b;
    padding: 10px;
}
.link{
    background-color: aquamarine;
    cursor: pointer;
    width: 100px;
    height: 100px;
    font-size: 2em;
    border-radius: 17px;
    margin-bottom: 10px;
}

